<launch>
    <arg name="cellphone" default="samsung_s9"/>
    <arg name="camera_ip" default="10.169.109.63"/>
    <arg name="camera" default="/images"/>

    <!--Detector Node-->
    <include file="$(find aprilslam)/launch/detector.launch">
        <arg name="camera" value="$(arg camera)"/>
	<arg name="size" value="0.173"/>
    </include>

    <include file="$(find aprilslam)/launch/mapper.launch">
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find aprilslam)/config/apriltag.rviz">
    </node>

    
    <node pkg="ipcamera_driver" type="ipcamera_driver" name="ipcam" output="screen">
        <param name="video_url" type="string" value="rtsp://$(arg camera_ip):8080/h264_ulaw.sdp" />
        <param name="camera_info_url" type="string" value="file://$(find aprilslam)/config/$(arg cellphone)_camera_info_ros.yaml" />

        <param name="frame_id" type="string" value="cam0_link" />
        <remap from="camera/image" to="$(arg camera)/image_raw" />
    </node>

    <node name="image_proc" pkg="image_proc" type="image_proc" ns="$(arg camera)"/>


</launch>
